aside.left-aside{
    position: relative;
    min-width: 320px;
    max-width: 320px;
    border-top: 10px solid #32c1fb;
    padding: 20px 50px;
    box-sizing: border-box;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05),0 3px 10px 0 rgba(0,0,0,0.1);
}
.left-aside > h1{
    padding: 20px 0;
    height: 60px;
    cursor: pointer;
}
.left-aside > h1 > img{
    display: block;
    height: 100%;
}
.left-aside > .site-info{
    line-height: 1.6em;
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
    color: #888;
}
.self-info > ul > li{
    cursor: pointer;
}
.self-info > ul > li > span{
    display: block;
    line-height: 1.2em;
    padding: 20px 0;
    font-size: 17px;
    color: #333;
    font-weight: bold;
    user-select: none;
}
.self{
    padding: 30px 0 40px 0;
}
.self > .avater{
    width: 260px;
    height: 270px;
    margin-left: -50px;
    border: 10px solid #32c1fb;
    border-left: none;
    border-right-color: #8c53ff;
    border-bottom-color: #ddd;
    border-radius: 0 150px 150px 0;
}
.self > .avater > img{
    width: 250px;
    height: 250px;
    margin-top: 10px;
    border-radius: 0 150px 150px 0;
}
.self > .name{
    padding: 20px 0;
    color: #333;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.2em;
}
.self > .description{
    line-height: 1.6em;
    font-size: 16px;
    color: #444;
    font-weight: 300;
}
.self > .description > i.iconfont{
    color: #444;
    font-weight: 400;
}
.recent-comments{
    position: relative;
    padding: 30px 0;
}
.recent-comments > ul > li > p > i{
    font-size: 14px;
    font-weight: 900;
    color: #444;
    vertical-align: middle;
}
.recent-comments > ul > li > p > span{
    font-size: 14px;
    font-weight: 900;
    color: #444;
}

.recent-comments::before{
    position: absolute;
    content: "";
    top: 0;
    left: -50px;
    right: -50px;
    border-top: 1px solid rgba(0,0,0,.1);
}
.recent-comments > h3{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}
.recent-comments > ul > li{
    padding: 7px 0;
    color: #999;
}

